#autotools products
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing

#folders
attic
data/taxi
warnmap/warnmap-output
warnmap-check/warnmap-final
escale-check/data-escale-check

#graphic output
*.png
*.jpg
*.eps

#temporary files
*~
*#

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
